.top-content-group {
  display: flex;
}

.enhanced-title {
  font-size: 36px;

  font-weight: 300;

  letter-spacing: 0;

  line-height: 1.199;
}

.enhanced-para {
  margin-top: 180px;
}

.enhanced-para para-text-style {
  font-size: 1.25rem;

  font-weight: 400;

  letter-spacing: 0px;

  line-height: 1.4;
}

top-left-btn-color {
  background-color: #0f62fe;

  margin-right: 100px;

  border: 1px solid transparent;

  /* #0043ce */
}

top-left-btn-color :hover {
  background-color: #0043ce;
}

top-left-btn-nocolor {
  border: 1px solid #0043ce;

  width: 40px;
}

top-left-btn-nocolor :hover {
  background-color: #0043ce;
}

top-left-btn-group {
}

left-btn {
  height: 1000px;

  width: 30px;
}

a {
  text-decoration: none;

  color: white;
}

top-img {
  width: 500px;

  height: 400px;
}

top-center {
  width: 500px;

  height: 400px;
}

top-link-list-heading {
  color: var(--cds-text-01, #161616);

  display: block;

  font-size: var(--cds-expressive-heading-02-font-size, 1rem);

  font-weight: var(--cds-expressive-heading-02-font-weight, 600);

  letter-spacing: var(--cds-expressive-heading-02-letter-spacing, 0);

  line-height: var(--cds-expressive-heading-02-line-height, 1.5rem);

  margin-bottom: 1rem;
}

top-link-list-item p {
  font-size: 1rem;

  font-weight: 400;

  line-height: 1.5;

  letter-spacing: 0;
}

top-link-list-item {
  border-bottom-style: groove;
}

p.p-text {
  color: #0f62fe;
}

p.p-text:hover {
  color: #0043ce;

  text-decoration: underline;
}

/* table-card-content {
  display: inline;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.375;
} */

.span-text {
  color: #525252;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 1.34;
  margin-block-end: 0.5rem;
}
table-card {
  display: flex;
  background-color: bisque;
}

table-card-item {
  display: flex;
}

table-card-content {
  background-color: aqua;
}

.table-card {
  display: flex;
  width: 330px;
  height: 210px;
  border: 1px solid var(--cds-ui-03, #e0e0e0);
  gap: var(--cds-spacing-05, 1rem);
  grid-area: 1 / 1 / 2 / 2;
  padding: var(--cds-spacing-05, 1rem);
  position: relative;
}

.table-card:hover {
  background-color: #e5e5e5;
}

.table-card-img {
  width: 200px;
  height: 200px;
}

.table-horizontal-cards {
  display: flex;
  margin: 20px;
}

.inter-section-wrapper {
  display: flex;
  flex-wrap: initial;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 4rem;
}
.inter-section-content-wrapper {
  margin-left: 300px;
}

.inter-section-heading h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 1;
  width: max-content;
}
/* .inter-section-heading {
  display: inline;
} */

.content-richtext p {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.4;
}

.content-richtext p a {
  color: #0f62fe;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.4;
}

.content-richtext p a:hover {
  text-decoration: underline;
  color: #0043ce;
}

.content-link-items {
  display: grid;
}

.item-link {
  margin: 10px;
}

.item-link a {
  color: #0f62fe;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.4;
}

.item-link a:hover {
  color: #0043ce;
  text-decoration: underline;
}

.card-group-pictogram {
  display: flex;
  flex-wrap: wrap;

  margin: 20px;
}

.service-card {
  display: grid;
  width: 330px;
  height: 180px;
  border: 1px solid var(--cds-ui-03, #e0e0e0);
  gap: var(--cds-spacing-05, 1rem);
  grid-area: 1 / 1 / 2 / 2;
  padding: var(--cds-spacing-05, 1rem);
  position: relative;
}

.service-card:hover {
  background-color: #e5e5e5;
}

.card-heading {
  color: #525252;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 1.34;
  margin-block-end: 0.5rem;
}
